* {
  text-align: center;
  font-family: tiktok;
  font-weight: 500;
}

.title {
  font-family: tiktok;
  font-size: 1.4em;
}

@font-face {
  font-family: tiktok;
  src: url(/assets/fonts/tiktok.ttf);
}

@font-face {
  font-family: mono;
  src: url(/assets/fonts/jetbrains.ttf);
}

@font-face {
  font-family: ttbold;
  src: url(/assets/fonts/ttbold.ttf);
}

body {
  background-color: #1d1d1d;
  color: white;
}

button {
  background-color: dodgerblue; 
  color: rgb(0, 0, 0);
  border: none;
  padding: 15px 30px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 10px;
  transition: 0.2s;
  flex-wrap: wrap;
  gap: 30px;
}
  
button:hover {
 scale: 1.1;
 background-color: rgb(19, 96, 173);
 color: rgb(0, 0, 0);
 box-shadow: 0 0 20px rgb(19, 96, 173);
}

.para {
  size: 1.1em;
}

#embed {
  border-radius: 20px;
  height: 590px;
  width: 1050px;
  transition: 0.3s;
  position: block;
}

#gofullscreen {
  border-radius: 12px;
  height: 50px;
  width: 150px;
  color: white;
  margin-top: 15px;
  text-align: center;
  background-color: dodgerblue;
  transition: 0.2s;
  font-size: 17px;
  padding-left: 0px;
}

nav {
  display: block;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: rgb(10, 10, 10);
  color: white;
  border-radius: 27px;
  box-shadow: 0 0 15px rgb(10, 10, 10);
  font-weight: 500;
  font-family: Inter;
  height: 45px;
  margin-bottom: 15px;
}
    
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 600;
}
    
nav li {
  margin-right: 1rem;
  position: relative;
  font-family: Inter;
  font-size: 1.2rem;
  font-weight: 500;
  transition: 0.2s;
  float: right;
}
  
li.title {
  font-size: 30px;
  float: left;
  margin-top: -6px;
  font-family: ttbold;
}
    
nav a {
  color: white;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  font-family: Inter;
  font-weight: 600;
  top: 10px;
  transition: 0.25s;
}
  
nav a:hover {
  background-color: white;
  padding-top: 10px;
  color: black;
  padding-bottom: 10px;
  padding-right: 100px;
  padding-left: 12px;
  border-radius: 15px;
  cursor: pointer;
}
  
nav a p {
  opacity: 0;
  transition: .2s;
  color: black;
  position: fixed;
  display: none;
  margin-left: 50px;
  margin-top: -22px;
  transition: .3s;
  transition-delay: .2s;
}
  
nav a:hover p {
  opacity: 1;
  display: block;
  position: fixed;
}
  
nav a.disabled:hover {
  cursor: default;
  background-color: gray;
  color: white;
}
  
nav a.disabled {
  color: gray;
}

.container {
  display: flex;
  justify-content: center;
}

.keybind {
  background-color: rgb(71, 71, 71);
  border-radius: 7px;
  box-shadow: 0px 3px 0px black;
  height: 17px;
  width: 17px;
  text-align: center;
  padding-bottom: -1px;
  padding: 5px;
  font-family: mono;
  font-size: 12px;
  margin-left: 105px;
  margin-top: -23px;
}
