* {
    text-align: center;
    font-family: Inter, Arial;
    color: dodgerblue;
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter.ttf);
}

.button1 {
    background-color: dodgerblue;
    color: black;
    border-radius: 10px;
}

.button1:hover {
    scale: 105%;
    transition: 0.2;
    background-color: rgb(18, 94, 170);
}